<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
    <!-- 线程执行器配置，用于任务注册 -->
	<bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="10" />
		<property name="maxPoolSize" value="100" />
		<property name="queueCapacity" value="500" />
	</bean>
    
    <!-- 添加调度的任务-bean 配置对应的调度类-class-->  
    <bean id="mySchedule" class="com.web.myapp.demo.schedule.ConfigureSchedule" />
    <!-- 
    <bean id="myQuartzSchedule" class="com.zaicent.memberCard.controller.DatasyncController" >
    	<property name="myQuartzScheduleURL">
    		<value>localhost:8080/zymember/datasync/datasync</value>
    	</property>
    </bean> 
    -->
    
    <!--配置调度具体执行的方法-->  
    <bean id="myScheduleDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
        <!-- 配置调度对象类  -->
        <property name="targetObject" ref="mySchedule" />
        <!-- 配置调度方法 -->  
        <property name="targetMethod" value="testConfigure" />
        <!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->  
        <property name="concurrent" value="true" />
    </bean>
  
    <!--配置调度执行的触发的时间-->  
    <bean id="myScheduleTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
        <property name="jobDetail" ref="myScheduleDetail" />  
        <!-- cron表达式 ，配置调度触发时间(在线生成工具：http://www.cronmaker.com/) -->  
        <property name="cronExpression" value="0/5 * * * * ?" />
    </bean>
    <bean id="myScheduleTrigger2" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">  
        <property name="jobDetail" ref="myScheduleDetail" />  
		<!-- 调度工厂实例化后，经过10秒开始执行调度 -->
        <property name="startDelay" value="10000" />
        <!-- 间隔时间：每60秒重复调度 -->  
		<property name="repeatInterval" value="60000" />
		<!-- 间隔时间内重复调度次数：每60秒重复调度2次 -->  
        <property name="repeatCount" value="2" />
    </bean>
  
    <!-- quartz的调度工厂 调度工厂只能有一个，多个调度任务在list中添加	lazy-init='false'表容器启动就会执行调度程序  -->  
    <bean id="startQuartz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
        <property name="triggers">  
            <!-- 所有的调度列表-->  
            <list>
                <ref local="myScheduleTrigger" />
            </list>
        </property>  
        <property name="autoStartup" value="true"></property>
        <property name="quartzProperties">
			<props>
				<!-- 随机存储，非持久化 -->
				<prop key="org.quartz.jobStore.class">org.quartz.simpl.RAMJobStore</prop>
				<!-- 线程池 -->
				<prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>
				<prop key="org.quartz.threadPool.threadCount">10</prop>
			</props>
		</property>   
    </bean>  
  
</beans>   