<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>myapp</display-name>

	<!-- 设置项目根路径，本项目中log4j会读取此属性来动态创建log文件目录 -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>myapp.root</param-value>
	</context-param>
	<!-- 日志记录 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>
	<!--Spring默认刷新Log4j配置文件的间隔,单位：毫秒,生产环境设为0 -->
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>0</param-value>
	</context-param>
	<!--Spring Log4j监听器-->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<!-- 定时作业调度监听器 -->
	<!-- 
	<listener>
        <listener-class>com.web.myapp.demo.listener.MyScheduleListener</listener-class>
    </listener>
     -->


	<!-- 加载Spring XML配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-mvc/spring-web.xml;
	        <!-- 
			classpath:spring-mvc/spring-context.xml;
			classpath:spring-mvc/spring-mvc.xml;
	        classpath:spring-mybatis/spring-mybatis.xml;
			classpath:spring-mvc/spring-shiro.xml;
	        classpath:spring-mvc/spring-quartz.xml
	         -->
        </param-value>
	</context-param>
	<!--Spring监听器的配置，用于在启动Web容器时，自动装配ApplicationContext的配置信息 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Spring防止内存溢出监听器 -->
    <listener>
	    <listener-class>
	    	org.springframework.web.util.IntrospectorCleanupListener
	    </listener-class>
    </listener>
    
     <!-- 设置 session 超时时间，单位：分钟  -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<!-- SpringMVC核心配置 -->
	<servlet>
		<servlet-name>spring-mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:spring-mvc/spring-web.xml;
				<!-- classpath:spring-mvc/spring-quartz.xml -->
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-mvc</servlet-name>
		<!-- 此处可以可以配置成*.do，对应struts的后缀习惯 -->  
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>     
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>

	<!-- Spring字符集过滤器 -->
	<filter>
		<filter-name>SpringEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SpringEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- shiro权限配置 -->
	<!-- 
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
	
	<!-- 默认页面设置 -->
	<welcome-file-list>
        <welcome-file>index.html</welcome-file>  
	    <welcome-file>index.htm</welcome-file>  
	    <welcome-file>index.jsp</welcome-file>  
	    <welcome-file>default.html</welcome-file>  
	    <welcome-file>default.htm</welcome-file>  
	    <welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 错误跳转页面 -->
	<error-page>
		<!-- 路径不正确 -->
		<error-code>404</error-code>
		<location>/WEB-INF/errorpage/404.jsp</location>
	</error-page>
	<error-page>
		<!-- 没有访问权限，访问被禁止 -->
		<error-code>405</error-code>
		<location>/WEB-INF/errorpage/405.jsp</location>
	</error-page>
	<error-page>
		<!-- 内部错误 -->
		<error-code>500</error-code>
		<location>/WEB-INF/errorpage/500.jsp</location>
	</error-page>

</web-app>